
@keyframes anim1 {
    0% {
        opacity: 1;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim2 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 1;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim3 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 1;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim4 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim5 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 1;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim6 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim7 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 1;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim8 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 1;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim9 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 1;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim10 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim11 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim12 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim13 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim14 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 1;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim15 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 1;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim16 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 1;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}


@keyframes anim17 {
    // 1
        0% {
            opacity: 0;
        }
    // 2
        3.5% {
            opacity: 0;
        }
    // 3
        7% {
            opacity: 0;
        }
    // 4
        10.5% {
            opacity: 0;
        }
    // 5
        14% {
            opacity: 0;
        }
    // 6
        17.5% {
            opacity: 0;
        }
    // 7
        21% {
            opacity: 0;
        }
    // 8
        24.5% {
            opacity: 0;
        }
    // 9
        28% {
            opacity: 0;
        }
    // 10
        31.5% {
            opacity: 0;
        }
    // 11
        35% {
            opacity: 0;
        }
    // 12
        38.5% {
            opacity: 0;
        }
    // 13
        42% {
            opacity: 0;
        }
    // 14
        45.5% {
            opacity: 0;
        }
    // 15
        49% {
            opacity: 0;
        }
    // 16
        52.5% {
            opacity: 1;
        }
    // 17
        56% {
            opacity: 0;
        }
    // 18
        59.5% {
            opacity: 0;
        }
    // 19
        63% {
            opacity: 0;
        }
    // 20
        66.5% {
            opacity: 0;
        }
    // 21
        70% {
            opacity: 0;
        }
    // 22
        73.5% {
            opacity: 0;
        }
    // 23
        77% {
            opacity: 0;
        }
    // 24
        80.5% {
            opacity: 0;
        }
    // 25
        84% {
            opacity: 0;
        }
    // 26
        87.5% {
            opacity: 0;
        }
    // 27
        91% {
            opacity: 0;
        }
    // 28
        94.5% {
            opacity: 0;
        }
    // 29
        97% {
            opacity: 0;
        }
}
@keyframes anim18 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 1;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim19 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 1;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim20 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 1;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim21 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 1;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim22 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 1;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim23 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 1;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim24 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 1;
    }
// 24
    80.5% {
        opacity: 0;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}
@keyframes anim25 {
// 1
    0% {
        opacity: 0;
    }
// 2
    3.5% {
        opacity: 0;
    }
// 3
    7% {
        opacity: 0;
    }
// 4
    10.5% {
        opacity: 0;
    }
// 5
    14% {
        opacity: 0;
    }
// 6
    17.5% {
        opacity: 0;
    }
// 7
    21% {
        opacity: 0;
    }
// 8
    24.5% {
        opacity: 0;
    }
// 9
    28% {
        opacity: 0;
    }
// 10
    31.5% {
        opacity: 0;
    }
// 11
    35% {
        opacity: 0;
    }
// 12
    38.5% {
        opacity: 0;
    }
// 13
    42% {
        opacity: 0;
    }
// 14
    45.5% {
        opacity: 0;
    }
// 15
    49% {
        opacity: 0;
    }
// 16
    52.5% {
        opacity: 0;
    }
// 17
    56% {
        opacity: 0;
    }
// 18
    59.5% {
        opacity: 0;
    }
// 19
    63% {
        opacity: 0;
    }
// 20
    66.5% {
        opacity: 0;
    }
// 21
    70% {
        opacity: 0;
    }
// 22
    73.5% {
        opacity: 0;
    }
// 23
    77% {
        opacity: 0;
    }
// 24
    80.5% {
        opacity: 1;
    }
// 25
    84% {
        opacity: 0;
    }
// 26
    87.5% {
        opacity: 0;
    }
// 27
    91% {
        opacity: 0;
    }
// 28
    94.5% {
        opacity: 0;
    }
// 29
    97% {
        opacity: 0;
    }
}

@keyframes anim26 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 1;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim27 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 1;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim28 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 1;
    }

    97% {
        opacity: 0;
    }
}
@keyframes anim29 {
    0% {
        opacity: 0;
    }

    3.5% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    10.5% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    17.5% {
        opacity: 0;
    }

    21% {
        opacity: 0;
    }

    24.5% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    31.5% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    38.5% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    45.5% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    52.5% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    59.5% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    66.5% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    73.5% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    80.5% {
        opacity: 0;
    }

    84% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    91% {
        opacity: 0;
    }

    94.5% {
        opacity: 0;
    }

    97% {
        opacity: 1;
    }
}


.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
  
    mask-size: 100%;
    mask-repeat: no-repeat;
  
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
  
    background-color: #0E7274;
    transition: all .4s ease-in-out ;
  
    &.icon-main {
      mask-image: url("../assets/navbar11.svg");
      -webkit-mask-image: url("../assets/navbar11.svg");
    }
  
    &.icon-karzina {
      mask-image: url("../assets/navbar2.svg");
      -webkit-mask-image: url("../assets/navbar2.svg");
    }

    &.icon-basket {
        mask-image: url("../assets/navbar2.svg");
        -webkit-mask-image: url("../assets/navbar2.svg");
        background-color: #0EECEC;
        width: 28px;
        height: 28px;
    }
  
    &.icon-man {
      mask-image: url("../assets/navbar3.svg");
      -webkit-mask-image: url("../assets/navbar3.svg");
      width: 20px;
      height: 53px;
    }
  
    &.icon-woman {
      mask-image: url("../assets/navbar4.svg");
      -webkit-mask-image: url("../assets/navbar4.svg");
      width: 25px;
      height: 53px;
    }
  
    &.icon-partners {
      mask-image: url("../assets/navbar5.svg");
      -webkit-mask-image: url("../assets/navbar5.svg");
    }
  
    &.icon-support {
      mask-image: url("../assets/support.svg");
      -webkit-mask-image: url("../assets/support.svg");
    }
  
    &.icon-backup {
      mask-image: url("../assets/navbar6.svg");
      -webkit-mask-image: url("../assets/navbar6.svg");
    }
  
}
